In [20]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


dfS = pd.read_csv("train.csv")
dfT = pd.read_csv("test.csv")

In [21]:
dfS.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
#1 仮説を立てる

# データを眺めて、なんなとなく生死には、
# 年齢(Age)、男か女(Sex)、客室等級(Pclass)の３つが効いているのではないか

In [23]:
#2 前処理を行う

# #1で使うと決めたデータに「欠損値、「外れ値」がないか確認、修正

In [24]:


#  まずAgeにNullが何個あるか調べる 
dfS['Age'].isnull().values.sum() 

# データフレーム（以下DF）のプロパティ・メソッド
# isnull()でnullはTrue,nullでないならFalseにDFの中身を書き換える　⇒　返値はDF
# valuesでDFをnp.arrayに変換する　⇒返値はnp.array
# Trueは1, Falseは0として扱われるのでnp.sum()を使うことでTrueのカウントをする
# ただし、np.count_nonzero()のほうが高速

177

In [25]:
np.count_nonzero(dfS['Age'].isnull().values)

177

In [26]:


# nullがどれくらいの割合であるのかを調べる

dfS['Age'].isnull().values.sum() / len(dfS['Age']) * 100

19.865319865319865

In [27]:
# 19%。。。これは少し多い気が。。。何かしらの値で埋めたいですね

In [28]:
plt.hist(dfS['Age'].dropna(),bins=20)

NameError: name 'plt' is not defined